#titulo{
  font-family: "Bookman Old Style";
  font-size:60px;
  color: #e6005c;
  text-align:center;
}

#titulo2{
  font-family: "Bookman Old Style";
  font-size:25px;
  color: #ff751a;
  text-align:center;
}
#titulo3{
  font-family: "Bookman Old Style";
  font-size:25px;
  color: #ff3300;
  text-align:center;
}
.header {
  background-color: #ffe6e6;
  width: 100%;
  height:5%;
  padding: 15px;
  text-align:center;
  border-width:3px;
  vertical-align: baseline;
	}

.topnav {
  overflow: "hidden";
  background-color: #ffe6e6;
  font-family: "Bookman Old Style";
  font-size:20px;
  color: #e6005c;
  text-align: center;
   border-width:3px;
  font-stretch:ultra-expanded;

}
.topnav a {
  float: center;
  display:inline-block;
  color: #e6005c;
  text-align: center;
  padding: 15px;
  font-stretch:ultra-expanded;
  text-decoration: none;
}
.topnav a:hover {
  color: White;
  background-color: pink;
}

.column {
  float: left;
  padding: 5px;
  border-style:solid;
  border-width:5px;
  background-color: #ffe6e6;
  text-align: center;
  border-collapse: separate;
  box-sizing: border-box;
  }
.column.side {
  width: 15%;
  border-collapse: separate;
  font-family: "Arial Unicode MS";
  text-align: left;
  border-width:5px;
  border-color:transparent;
  padding: 5x;
  
}
.column.middle {
  width: 69%;
  border-collapse: separate;
  font-family: "Arial Unicode MS";
  border-color:transparent;
  border-width:5px;
  padding: 5px;
  margin-left:4px;
  margin-right: 4px;
  text-align: left;
 
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
    }
}
.footer {
  background-color: #ffe6e6;
  padding: 1%;
  font-family: "Arial Unicode MS";
  text-align: center;
  margin-top: 10px;
  color: #e6005c;
  text-decoration: none;
  font-family: "Bookman Old Style";
  height: 20%;
  font-size: 20px;
}

ul {
  padding: 10px;
  width: 230px;
  margin-right: 0;
  text-decoration: none;
  }

li a {
  display: block;
  padding: 8px 16px 10px 2px;
  text-decoration: none;
}

li a:hover {
  background-color:#ffb380;
  color:white;
  text-decoration: none;
}

#li2{
  color: #ff704d;
  text-decoration: none;
  font-size:13px;
  }

  img {
  border: 1px solid #ff6600;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 3px 3px rgb(255, 179, 128);
}

button {
  background-color: #ffe6e6; 
  color: #ff3300; 
  border: 2px solid white;
  text-align: center;
  display: inline-block;
  font-size:13px;
  
}

